<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio Website</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>

</head>
<body background="../static/images/fundo.jpg">
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="#"><img src="../static/images/logo.png" height="75px" width="125px"></a></div>
            <ul class="menu">
                <li><a href="/" class="menu-btn">Inicio</a></li>
                <li><a href="/Sobre" class="menu-btn">Sobre</a></li>
                <li><a href="/Serviços" class="menu-btn">Projetos</a></li>
                <li><a href="/Habiliades" class="menu-btn">Habilidades</a></li>
                <li><a href="/Contatos" class="menu-btn">Contatos</a></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
<br><br><br><br>
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">Sobre Mim</h2>
            <div class="about-content">
                <div class="column left">
                    <img src="../static/images/foto 1.jpg" alt="">
                </div>
                <div class="column right">
                    <div class="text">Eu sou Allan e sou um <span class="typing"></span></div>
                    <p>Meu nome é Allan Victor Silva Campos Pereira, sou de São José dos Campos em São Paulo. Me formei em Desenvolvmento de Sistemas na ETEC Ilza Nascimento Pintus e hoje em dia curso Desenvolvmento de Sistemas Multiplataforma na FATEC. Sempre fui apaixonado por programação principalmente na área de design e frontend (HTML, CSS e JavaScript).</p>
                </div>
            </div>
        </div>
    </section>
<script src="../static/script.js"></script>
</body>
</html>